# PHP Stan Config

parameters:
	tmpDir: /tmp/phpstan-corelibs
	level: 8 # max is now 9
	paths:
		- %currentWorkingDirectory%/www
	bootstrapFiles:
		- %currentWorkingDirectory%/phpstan-bootstrap.php
		# - %currentWorkingDirectory%/www/lib/autoloader.php
		- %currentWorkingDirectory%/www/vendor/autoload.php
	scanDirectories:
		- www/lib/Smarty
	scanFiles:
		- www/configs/config.php
		- www/configs/config.master.php
		# if composer.json autoloader defined, this is not needed
		# - www/lib/autoloader.php
		- www/vendor/autoload.php
		- www/lib/Smarty/Autoloader.php
	excludePaths:
		# do not check old qq file uploader tests
		- www/admin/qq_file_upload_*.php
		# ignore all test files
		- www/admin/class_test*php
		- www/admin/error_test.php
		# admin synlink files
		- www/admin/edit_*.php
		# ignore admin header stuff
		# - www/includes/admin_header.php # ignore the admin include stuff
		- www/includes/admin_footer.php # ignore the admin include stuff
		# deprecated files
		- www/includes/admin_set_paths.php # ignore the admin include stuff
		- www/includes/admin_smarty.php # ignore the admin include stuff
		# folders with data no check needed
		- www/templates_c
		- www/cache
		- www/log
		- www/media
		- www/tmp
		# external libs are not checked
		- www/lib/Smarty/
		- www/lib/smarty-*/
		# ignore composer
		- www/vendor
		# ignore tst folder
		- www/tests
	# ignore errores with
	ignoreErrors:
		# this is ignored for now
		- '#Expression in empty\(\) is always falsy.#'
		# -
		# 	message: '#Reflection error: [a-zA-Z0-9\\_]+ not found.#'
		# 	path: www/includes/edit_base.php
		#- 'error regex'
		#-
		#	message: 'error regex'
		#	path: %currentWorkingDirectory%/www/some/*
		#	paths:
		#		- ...
		#		- ...
