# PHP Stan Config

parameters:
	tmpDir: /tmp/phpstan-corelibs
	level: 5
	paths:
		- %currentWorkingDirectory%/www
	bootstrapFiles:
		- %currentWorkingDirectory%/phpstan-bootstrap.php
	scanDirectories:
		- www/lib/Smarty
	scanFiles:
		- www/configs/config.php
		- www/configs/config.master.php
		- www/lib/autoloader.php
		- www/vendor/autoload.php
		- www/lib/Smarty/Autoloader.php
		- www/lib/CoreLibs/Template/SmartyExtend.php
	excludes_analyse:
		# no check admin
		- www/admin/qq_file_upload_front.php
		- www/admin/qq_file_upload_ajax.php
		- www/admin/class_test*php
		- www/admin/error_test.php
		# admin synlink files
		- www/admin/edit_access.php
		- www/admin/edit_groups.php
		- www/admin/edit_languages.php
		- www/admin/edit_menu_group.php
		- www/admin/edit_order.php
		- www/admin/edit_pages.php
		- www/admin/edit_schemes.php
		- www/admin/edit_users.php
		- www/admin/edit_visible_group.php
		# ignore admin header stuff
		- www/includes/admin_header.php # ignore the admin include stuff
		- www/includes/admin_footer.php # ignore the admin include stuff
		- www/includes/admin_set_paths.php # ignore the admin include stuff
		- www/includes/admin_smarty.php # ignore the admin include stuff
		# folders with data no check needed
		- www/templates_c
		- www/cache
		- www/log
		- www/media
		- www/tmp
		- www/lib/pChart
		- www/lib/pChart2.1.4
		- www/lib/Smarty
		- www/lib/smarty-3.1.30
		# ignore composer
		- www/vendor
		# ignore the smartyextend
		- www/lib/CoreLibs/Template/SmartyExtend.php
	# ignore errores with
	ignoreErrors:
		# -
		# 	message: '#Reflection error: [a-zA-Z0-9\\_]+ not found.#'
		# 	path: www/includes/edit_base.php
		#- 'error regex'
		#-
		#	message: 'error regex'
		#	path: %currentWorkingDirectory%/www/some/*
		#	paths:
		#		- ...
		#		- ...
